<section class="experience">
    <h3 class="tittle">Experiences<a routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="fa-solid fa-circle-plus"></i></a>
    </h3>
    <div class="experience_text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis, lectus magna fringilla urna,
            Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo,
            vel fringilla est ullamcorper.
        </p>
    </div>
    <div class="experience_grid">
        <ng-container *ngFor="let Experiencia of expe">
            <div class="experience_card">
                <a routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <span>{{Experiencia.fechaInicioE}} - {{Experiencia.fechaFinE}}</span>
                <h4>{{Experiencia.nombreE}}</h4>
                <span class="experience_place">{{Experiencia.cargoE}}</span>
                <a (click)="delete(Experiencia.id)" *ngIf="isLogged">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                <p>
                    {{Experiencia.descripcionE}}
                </p>
            </div>
        </ng-container>
    </div>
</section>