<section class="experience">
    <h3 class="tittle">Experiences<a routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="fa-solid fa-circle-plus"></i></a>
    </h3>
    <div class="experience_text">
        <p>
            Here you will see a detailed list of my previous jobs, the roles I performed in each one, and a description
            of the tasks I carried out. If you have any particular questions about any position, you can contact me!
        </p>
    </div>
    <div class="experience_grid">
        <ng-container *ngFor="let Experiencia of expe">
            <div class="experience_card">
                <a routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <span>{{Experiencia.fechaInicioE}} - {{Experiencia.fechaFinE}}</span>
                <h4>{{Experiencia.nombreE}}</h4>
                <span class="experience_place">{{Experiencia.cargoE}}</span>
                <a (click)="delete(Experiencia.id)" *ngIf="isLogged">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                <p>
                    {{Experiencia.descripcionE}}
                </p>
            </div>
        </ng-container>
    </div>
</section>