<div class="container">
    <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreS">Servicio</label>
                <input type="text" class="form-control" id="nombreS" name="nombreS" [(ngModel)]="servicio.nombreS"
                    required>
            </div>
            <div class="form-group">
                <label for="descripcionS">Descripción</label>
                <input type="text" class="form-control" id="descripcionS" name="descripcionS"
                    [(ngModel)]="servicio.descripcionS" required>
            </div>
            <!-- <div class="form-group">
                    <label for="cargoE">Imagen</label>
                    <input type="text" class="form-control" id="cargoE" name="cargoE" [(ngModel)]="cargoE" required>
                </div> -->
            <div class="button-container">
                <button class="btn btn-primary">Editar servicio</button>
            </div>
        </form>
    </div>
</div>