<!------------------------------------------ Edit Experience ------------------------------------------>
<body>
  <br><br><br><br>
  <div class="editExperienceForm">
    <form class="col">
      <h3>Edit Experience</h3>
      <div class="form-group">
        <label for="exampleInputPassword1">Experience Data</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Employer">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Position">
      </div>
      <label for="exampleInputPassword1">Start Date - End Date</label>
      <div class="dates">
        <div class="form-group">
          <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Fecha Inicio">
        </div>
        <div class="form-group">
          <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Fecha Fin">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="buttons">
        <button type="submit" class="btn btn-secondary" routerLink="/portfolio">Cancel</button>
        <button type="submit" class="btn btn-primary" routerLink="/portfolio">Submit</button>
      </div>
    </form>   
  </div>
  <br><br><br>
</body>