<!------------------------------------------ Edit Projects ------------------------------------------>
<body>
    <div class="editExperienceForm">
    <form class="col">
        <h3>Edit Project</h3>
        <div class="form-group">
            <label for="exampleInputPassword1">Project Data</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name project">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="descripcionLanding" rows="3"></textarea>
        </div>
        <label for="exampleInputPassword1">Date</label>
        <div class="dates">
            <div class="form-group">
            <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Fecha Inicio">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Project Image</label>
            <input type="file" class="form-control-file" id="imgFile">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="url project...">
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-secondary" routerLink="/portfolio">Cancel</button>
            <button type="submit" class="btn btn-primary" routerLink="/portfolio">Submit</button>
        </div>
    </form>   
    </div>
    <br><br><br>
</body>

