@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,300;1,700&display=swap');

body{
  margin: 0;
  padding: 0; 
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background: white;
  border-radius: 10px;
  box-shadow: 40px 40px 8px black;
  border: 2px solid black;
}
.center h1 {
  margin-top: 25px;
  padding: 10px;
  font-size: 33px;
  text-align: center;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position:relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #F76525 ;
  transition: .5s;
}
.txt_field input:focus ~ label,.text_field input:valid ~ label{
  top: 5px;
  color: #F76525;
}
.txt_field input:focus ~ span::before,.text_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type='submit']{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: black ;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type='submit']:hover{
  border-color: #2691d9;
  transition: .5s;
}
i.fa-solid.fa-circle-xmark {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 28px;
  color: #000;
}
.copyright {
  display: flex;
  font-size: 14px;
  color: grey;
  margin-top: 20px;
  justify-content: center;
}
@media screen and (max-width: 480px){
  .center {
    width: 300px;
  }
}