<!------------------------------------------ Edit Educacion ------------------------------------------>
<body>
  <div class="editExperienceForm">
    <form class="col">
      <h3>Edit Education</h3>
      <div class="form-group">
        <label for="exampleInputPassword1">Education Data</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Degree title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Institution">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Beginning">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Finish">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Img file</label>
        <br>
        <input type="file" class="form-control-file" id="imgFile">
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-secondary">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>   
  </div>
  <br><br><br>
</body>