<nav class="menu">
    <section class="menu_container">
        <a class="menu_logo" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa">
            <img src="/assets/resources/APLogo.png" alt="Argentina Programa">
        </a>
        <ul #list class="menu_links">
            <li class="menu_item">
                <a href="#sec1" class="menu_link">Services</a>
            </li>
            <li class="menu_item">
                <a href="#sec2" class="menu_link">Portfolio</a>
            </li>
            <li class="menu_item">
                <a href="mailto:ivanlitt805@gmail.com" class="menu_link">Contact</a>
            </li>
            <li class="menu_item">
                <a href="#" class="menu_link">About</a>
            </li>
            <li class="menu_item">
                <a href="https://github.com/ivanlitt8" class="menu_link"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/ivan-litt-71a6381b2/" class="menu_link"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a routerLink="/iniciar-sesion" class="menu_link" *ngIf="!isLogged"><i
                        class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <a routerLink="/iniciar-sesion" class="menu_link" (click)="onLogOut()" *ngIf="isLogged"><i
                        class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </li>
        </ul>
        <div #menu (click)="toggle()" class="menu_hamburguer">
            <img src="/assets/resources/menu.svg" class="menu_img">
        </div>
    </section>
</nav>