.row {
    display: flex;
    justify-content: center;
    margin: 20%;
    padding: 20px;
    border-radius: 30px;
    background-color: gray;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}