<section class="containerLanding">
    <div class="about">
        <div class="about_stack">
            <h2>{{persona?.posicion}}</h2>
        </div>
        <div class="about_nombre">
            <h1>{{persona?.nombre}} {{persona?.apellido}}</h1>
        </div>
        <div class="about_bar"></div>
        <div class="about_text">
            <p>
                {{persona?.sobreMi}} <a download="CV_Ivan_Litt"
                    href="portfolio-spa-front\src\assets\resources\download\Cv-IvanLitt(ES).pdf">here</a>.
            </p>
        </div>
        <div class="about_locate">
            <i class="fa-solid fa-street-view"></i><span> {{persona?.ubicacion}}</span>
            <a routerLink="/editpersona/{{persona?.id}}" *ngIf="isLogged">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
        </div>
        <div class="containerContact">
            <div class="contact">
                <a href="mailto:ivanlitt8@gmail.com">
                    <h4>GET ON TOUCH</h4>
                </a>
            </div>
        </div>
        <img class="miguel" src="/assets/resources/miguelPng.png" alt="LandingImg">
    </div>
</section>