<body>
    <div class="center">
        <h1>Welcome to your Portfolio</h1>
        <a routerLink="/"><i class="fa-solid fa-circle-xmark"></i></a>
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="txt_field">
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control form-control lg"
                    [(ngModel)]="nombreUsuario" (input)="onInput()" required />
                <label class="form-label" for="nombreUsuario" *ngIf="showUserLabel">User</label>
                <span></span>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" class="form-control form-control lg"
                    [(ngModel)]="password" (input)="onInput()" required />
                <span></span>
                <label class="form-label" for="password" *ngIf="showPasswordLabel">Password</label>
            </div>
            <!-- <div class="pass">¿Forgot password?</div>
            <div class="pass">Create an account</div> -->
            <input class="submitButton" type="submit" value="Login">
            <span class="copyright">© Ivan Litt - All rights reserved</span>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>