<body>
    <div class="center">
        <h1>Welcome to your Portfolio</h1>
        <a routerLink="/"><i class="fa-solid fa-circle-xmark"></i></a>
        <form [formGroup]="formLogin" (submit)="send()">
            <div class="txt_field">
                <input type="email" formControlName="email">
                <span></span>
                <label>Email</label>
                <div *ngIf="Email?.errors && Email?.touched">
                    <p *ngIf="Email?.hasError('required')" class="text-danger">
                        Email is required
                    </p>
                    <p *ngIf="Email?.hasError('email')" class="text-danger">
                        The email format must be valid
                    </p>                
                </div>
            </div>
            <div class="txt_field">
                <input type="password" formControlName="password">
                <span></span>
                <label>Password</label>
                <div *ngIf="Password?.errors && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="text-danger">
                        Password is required
                    </p>             
                </div>
            </div>
            <div class="pass">Forgot password?</div>
            <input class="submitButton" type="submit" value="Login" [disabled]="formLogin.invalid">
            <span class="copyright">© Ivan Litt - All rights reserved</span>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
