<div class="container">
    <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido"
                    required>
            </div>
            <div class="form-group">
                <label for="posicion">Posicion</label>
                <input type="text" class="form-control" id="posicion" name="posicion" [(ngModel)]="persona.posicion">
            </div>
            <div class="form-group">
                <label for="ubicacion">Ubicacion</label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion" [(ngModel)]="persona.ubicacion">
            </div>
            <div class="form-group">
                <label for="sobreMi">Sobre mi</label>
                <input type="text" class="form-control" id="sobreMi" name="sobreMi" [(ngModel)]="persona.sobreMi">
            </div>
            <div class="button-container">
                <button class="btn btn-primary">Editar persona</button>
            </div>
        </form>
    </div>
</div>