/*---------------------------Services---------------------------*/

.services h3 {
  position: relative;
  top: -950px;
  text-align: center;
  color: white;
}

.services_grid {
  width: 80%;
  gap: 20px;
  position: relative;
  top: -900px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.service {
  position: relative;
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
  background-color: #2D2C32;
  border-radius: 20px;
  height: 300px;
  padding: 40px 0;
}

.service:hover {
  transition-duration: .5s;
  background-color: #292664;
  box-shadow: 10px 10px;
}

.service h5 {
  font-size: 24px;
  color: white;
  padding-top: 15px;
}

.service p {
  padding-top: 10px;
  color: white;
  width: 70%;
  font-size: 13px;
}

.tittle {
  font-size: 40px;
}

i.fa-solid.fa-circle-plus {
  color: white;
  margin-left: 20px;
}

i.fa-solid.fa-circle-plus:hover {
  color: orangered;
  transition: 0.5s;
}


i.fa-solid.fa-trash-can {
  position: absolute;
  top: 270px;
  right: -5px;
  float: right;
  color: white;
  font-size: 36px;
}

i.fa-solid.fa-trash-can:hover {
  transition: 0.7s;
  color: orangered;
  rotate: 45deg;
}

i.fa-regular.fa-pen-to-square {
  position: absolute;
  top: -10px;
  right: -5px;
  color: white;
  font-size: 36px;
}


i.fa-regular.fa-pen-to-square:hover {
  color: orangered;
  transition: 0.5s;
  transform: translate(5px) scale(1.1);
}

.service_image i {
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 70px;
  color: orangered;
}