<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descipcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP"
                        [(ngModel)]="proyecto.descripcionP" required>
                </div>
                <!-- <div class="form-group">
                    <label for="imageP">Imagen</label>
                    <input type="file" class="form-control" id="imageP" name="imageP" [(ngModel)]="proyecto.imageP" required>
                </div> -->
                <div class="form-group">
                    <label for="fechaInicioP">Fecha</label>
                    <input type="text" class="form-control" id="fechaInicioP" name="fechaInicioP"
                        [(ngModel)]="proyecto.fechaInicioP" required>
                </div>
                <div class="form-group">
                    <label for="enlaceP">Enlace</label>
                    <input type="text" class="form-control" id="enlaceP" name="enlaceP" [(ngModel)]="proyecto.enlaceP">
                </div>
                <div class="button-container">
                    <button class="btn btn-primary">Agregar proyecto</button>
                </div>
            </form>
        </div>
    </div>
</div>