<section class="projets">
    <div class="projets_text">
        <span>PORTFOLIO</span>
        <h3 class="tittle" id="sec2">My projects<a routerLink="/nuevoproyecto" *ngIf="isLogged">
                <i class="fa-solid fa-circle-plus"></i></a>
        </h3>
        <p>
            Here you can see some of my personal projects that I have developed with different technologies and uses.
        </p>
    </div>
    <div class="projets_grid">
        <div class="container_projects">
            <ng-container *ngFor="let Proyecto of proyecto">
                <div class="projets_card">
                    <a (click)="delete(Proyecto.id)" *ngIf="isLogged">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                    <span class="projet_date">{{Proyecto.fechaInicioP}}</span>
                    <!-- <img [src]="{{Proyecto.imageP}}" alt="project"> -->
                    <img src="../../../assets/resources/takepro.jpg" alt="">
                    <div class=" projets_card_text">
                        <h4>{{Proyecto.nombreP}}</h4>
                        <p>
                            {{Proyecto.descripcionP}}
                        </p>
                        <a href="{{Proyecto.enlaceP}}"><span>See More ></span></a>
                    </div>
                    <a routerLink="/editproyecto/{{Proyecto.id}}" *ngIf="isLogged">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</section>