/*---------------------------Projets---------------------------*/

.projets {
  position: relative;
  top: 80px;
}

.projets_grid {
  display: grid;
  position: relative;
  top: -1200px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.tittle {
  font-size: 40px;
}

.projets_text {
  position: relative;
  top: -1250px;
  text-align: center;
  margin: 20px;
  color: white;
}

.container_projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projets_card {
  width: 250px;
  height: 400px;
  background-color: #2D2C32;
  color: white;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 10%;
}

.projets_card img {
  width: 100%;
  border-top-right-radius: 20%;
  height: 190px;
}

.projets_card_text {
  margin: 20px;
}

.projets_card_text p {
  font-size: 12px;
}

.projets_card_text h4 {
  color: #F76525;
}

.projets_card_text a {
  text-decoration: none;
  color: #F76525;
}

.projet_date {
  position: absolute;
  background-color: black;
  font-size: 12px;
  padding: 2px 5px;
  color: #F76525;
}

.projets_card img:hover {
  transform: translate(-10px);
  transition: .5s;
  box-shadow: 10px 10px #F76525;
}

i.fa-solid.fa-circle-plus {
  color: white;
  margin-left: 20px;

}

i.fa-solid.fa-circle-plus:hover {
  color: orangered;
  transition: 0.5s;
}

i.fa-solid.fa-trash-can {
  position: absolute;
  font-size: 36px;
  bottom: 0;
  right: 0;
}

i.fa-solid.fa-trash-can:hover {
  color: orangered;
  transition: 0.5s;
  rotate: 45deg;
}

.projets_card {
  position: relative;
}

i.fa-regular.fa-pen-to-square {
  position: absolute;
  color: white;
  font-size: 36px;
  bottom: 0;
  left: 0;
}

i.fa-regular.fa-pen-to-square:hover {
  color: orangered;
  transition: 0.5s;
  transform: translate(5px) scale(1.1);
}



@media screen and (max-width: 650px) {
  .container_projects {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .projets_card {
    display: flex;
    width: 100%;
    height: 190px;
    border-radius: 10px;
  }

  .projets_card img {
    border-radius: 0px;
    min-width: 200px;
  }

  .projets_card p {
    font-size: 11px;
    height: 90px;
  }

  .projets_card h4 {
    font-size: 20px;
  }

  .projets_card a span {
    font-size: 14px;
    float: right;
  }
}