<body>
    <div class="editExperienceForm">
        <form class="col">
          <h3>Edit Service</h3>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Icon">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name Service">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="buttons">
            <button type="submit" class="btn btn-secondary" routerLink="/portfolio">Cancel</button>
            <button type="submit" class="btn btn-primary" routerLink="/portfolio">Submit</button>
          </div>
        </form>   
    </div>
    <br><br><br>    
</body>