body{
  height: 700px;
  background-color: orangered;
}
.editExperienceForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 40px 40px 8px black;
  border: 2px solid black;
  padding: 20px
}
.buttons {
  float: right;
}
button {
  margin-left: 10px;
}
form h3{
  text-align: center;
}
.form-group{
  margin-bottom: 10px;
}
.editContainer div{
  padding: 10px;
}