<section class="skills">
    <div class="wave">
        <img src="/assets/resources/wave1.svg" alt="">
    </div>
    <div class="wave">
        <img src="/assets/resources/wave2.svg" alt="">                                          
    </div>
    <h3 class="tittle">Skills</h3>
    <div class="grid">
        <div class="grid_tools">
            <div><h4>Tools</h4></div>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div><img src="/assets/resources/postmanLogo.png"></div>
                    </div>
                    <svg class="rowOne" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                        <defs>
                            <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#44494B"/>
                                <stop offset="1" stop-color="#1BB3D6"/>
                            </linearGradient>                    
                        </defs>
                        <circle class="postman" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                    </svg>
                </div>
            </div>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div><img src="/assets/resources/figma.png"></div>
                    </div>
                    <svg class="rowTwo" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                        <defs>
                            <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#44494B"/>
                                <stop offset="1" stop-color="#1BB3D6"/>
                            </linearGradient>                    
                        </defs>
                        <circle class="figma" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                    </svg>
                </div>
            </div>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div><img src="/assets/resources/github.png"></div>
                    </div>
                    <svg class="rowThree" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                        <defs>
                            <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#44494B"/>
                                <stop offset="1" stop-color="#1BB3D6"/>
                            </linearGradient>                    
                        </defs>
                        <circle class="github" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="gridFend">
            <div><h4>Frontend</h4></div>
            <div class="grid_frontend">
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div><img src="/assets/resources/angular.png"></div>
                        </div>
                        <svg class="rowOne" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                            <defs>
                                <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44494B"/>
                                    <stop offset="1" stop-color="#1BB3D6"/>
                                </linearGradient>                    
                            </defs>
                            <circle class="angular" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div><img src="/assets/resources/bootstrap.png"></div>
                        </div>
                        <svg class="rowOne" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                            <defs>
                                <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44494B"/>
                                    <stop offset="1" stop-color="#1BB3D6"/>
                                </linearGradient>                    
                            </defs>
                            <circle class="bootstrap" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div><img src="/assets/resources/jquery.png"></div>
                        </div>
                        <svg class="rowTwo" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                            <defs>
                                <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44494B"/>
                                    <stop offset="1" stop-color="#1BB3D6"/>
                                </linearGradient>                    
                            </defs>
                            <circle class="jquery" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div><img src="/assets/resources/javascript.png"></div>
                        </div>
                        <svg class="rowTwo" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                            <defs>
                                <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44494B"/>
                                    <stop offset="1" stop-color="#1BB3D6"/>
                                </linearGradient>                    
                            </defs>
                            <circle class="javascript" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div><img src="/assets/resources/css.png"></div>
                        </div>
                        <svg class="rowThree" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                            <defs>
                                <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44494B"/>
                                    <stop offset="1" stop-color="#1BB3D6"/>
                                </linearGradient>                    
                            </defs>
                            <circle class="css" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div><img src="/assets/resources/htmlLightblue.png"></div>
                        </div>
                        <svg class="rowThree" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                            <defs>
                                <linearGradient id="GradientColor1" x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44494B"/>
                                    <stop offset="1" stop-color="#1BB3D6"/>
                                </linearGradient>                    
                            </defs>
                            <circle class="html" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>           
            </div>
        </div>            
        <div class="grid_back">
            <div><h4>Backend</h4></div> <!--*//////////////////////////////////////////////*-->
            <div class="grid_backend">
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div><img src="/assets/resources/javava.png"></div>
                        </div>
                        <svg class="myjava_progress" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                            <defs>
                                <linearGradient x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44494B"/>
                                    <stop offset="1" stop-color="#1BB3D6"/>
                                </linearGradient>                    
                            </defs>
                            <circle class="java" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>                    
            </div>
            <div><h4>DB</h4></div>
            <div class="grid_db">
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div><img src="/assets/resources/mysql.png"></div>
                        </div>
                        <svg class="mysql_progress" xmlns="http://www.w3.org/2000/svg" version="1.1" width="110px" height="110px">
                            <defs>
                                <linearGradient x1="7.74192" y1="7.71525" x2="7.74192" y2="136.303" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44494B"/>
                                    <stop offset="1" stop-color="#1BB3D6"/>
                                </linearGradient>                    
                            </defs>
                            <circle class="mysql" cx="50%" cy="50%" r="50" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
