<section class="experience">
    <h3 class="tittle">Experiences</h3>
    <div class="experience_text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis, lectus magna fringilla urna, 
            Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo,
            vel fringilla est ullamcorper.
        </p>
    </div>
    <div class="experience_grid">
        <ng-container *ngFor="let experience of experienceList">
            <div class="experience_card">
                <span>{{experience.start}} - {{experienceList.end}}</span>
                <h4>{{experience.job}}</h4>
                <span class="experience_place">{{experience.site}}</span>
                <p>
                    {{experience.desc}}
                </p>
            </div>
        </ng-container>
    </div>
</section>