<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreI">Idioma</label>
                    <input type="text" class="form-control" id="nombreI" name="nombreI" [(ngModel)]="idioma.nombreI"
                        required>
                </div>
                <div class="form-group">
                    <label for="nivelI">Nivel</label>
                    <input type="text" class="form-control" id="nivelI" name="nivelI" [(ngModel)]="idioma.nivelI"
                        required>
                </div>
                <div class="form-group">
                    <label for="siglasI">Siglas (2)</label>
                    <input type="text" class="form-control" id="siglasI" name="siglasI" [(ngModel)]="idioma.siglasI"
                        required>
                </div>
                <div class="button-container">
                    <button class="btn btn-primary">Editar idioma</button>
                </div>
            </form>
        </div>
    </div>
</div>