/*---------------------------Languages---------------------------*/

.tittle {
  font-size: 40px;
}

.lang h3 {
  position: relative;
  top: -1350px;
  color: white;
  text-align: center;
}

.lang {
  position: relative;
  top: 70px;
}

.lang_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  margin: 0 auto;
  top: -1300px;
  position: relative;
}

.lang_circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  left: 524px;
  top: 2407px;
  background: #FFFFFF;
  display: flex;
}

.lang_circle h4 {
  font-size: 40px;
  text-align: center;
  margin: auto;
  color: #3E3E3E;
}

.lang_ {
  text-align: center;
  margin: 0 auto;
  color: white;
}

.lang_ h5 {
  color: #F76525;
}

@media screen and (max-width: 800px) {
  .lang {
    position: relative;
    top: 60px;
  }

  .lang_grid {
    width: 100%;
  }
}